*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #121212;
}

img{
  display: flex;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  margin: auto;
  margin-top: 156px;
}

h1{
  color: white;
  font-family: "Paytone One", sans-serif;
  text-align: center;
  margin-top: 24px;
  line-height: 110%;
}

.bio{
  color: #f7f7f5;
  font-family: "Actor", sans-serif;
  text-align: center;
  opacity: 50%;
  margin-top: 24px;
}

.follow{
  display: flex;
  width: 166px;
  height: 51px;
  background-color: #FFB829;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: "Actor", sans-serif;
  border-radius: 50px;
  margin-top: 50px;
  margin-bottom: 128px;
}

.follow a {
  color: #121212;
}

#rodape{
  display: flex;
  width: 917px;
  height: 58px;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 70px;
}

.social{
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  width: 186px;
  height: 58px;
}