*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #121212;
}

img{
  display: flex;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  margin: auto;
  margin-top: 156px;
}

h1{
  color: white;
  font-family: "Paytone One", sans-serif;
  text-align: center;
  margin-top: 24px;
  line-height: 110%;
}

.bio{
  color: #f7f7f5;
  font-family: "Actor", sans-serif;
  text-align: center;
  opacity: 50%;
  margin-top: 24px;
}

.follow{
  
}