*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #121212;
}

img{
  display: flex;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  margin: auto;
  margin-top: 156px;
}